<p style="color: green"><%= notice %></p>

<h1>Children</h1>

<div id="children">

 <% Child.where(:user_id => current_user.id).each do |c| %>
  <button class="child_profile">
  <%= link_to  "#{c.name}", "/children/#{c.id}",  class: "child_link" %>
  </button>     
  <% end %>
</div>

<%= link_to "New child", new_child_path %>


