<div id="<%= dom_id progress %>">
  <p>
    <strong>Challenge day:</strong>
    <%= progress.challenge_day_id %>
  </p>

  <h2>
    <%= Child.where(:id => progress.child_id)[0].name %>
  </h2>

</div>
