<h1>Editing challengeday</h1>

<%= render "form", challengeday: @challengeday %>

<br>

<div>
  <%= link_to "Show this challengeday", @challengeday %> |
  <%= link_to "Back to challengedays", challengedays_path %>
</div>
