<p style="color: green"><%= notice %></p>

<h1>Challengedays</h1>

<div id="challengedays">
  <% @challengedays.each do |challengeday| %>
    <%= render challengeday %>
    <p>
      <%= link_to "Show this challengeday", challengeday %>
    </p>
  <% end %>
</div>

<%= link_to "New challengeday", new_challengeday_path %>
