<body class="exercisesPage">
   <div id="<%= dom_id day %>" class="exercises">
      <% Exercise.where(:day_id => day.id).each do |exercise | %>
      <%= video_tag("#{exercise.video}", controls: true, class: "video-style", id: "video#{exercise.id + 1}") %>
      <div id="countdown-container">
         REST TIME <span id="countdown-span" style="font-size: 24px; font-weight: bold;">5</span>
      </div>
      <button id="completion-btn">Completed</button> 
       <script src="countdown.js" async></script>
      <div id="countdown"></div>
      <% end %>
   </div>
</body>
