<body class="exercisesPage">
   <div id="<%= dom_id day %>" class="exercises">
      <% Exercise.where(:day_id => day.id).each do |exercise | %>
      <%= video_tag("#{exercise.video}", controls: true, class: "video-style", id: "video#{exercise.id + 1}") %>
      <div id="countdown-container">
         REST TIME <span id="countdown-span" style="font-size: 24px; font-weight: bold;">5</span>
      </div>
      <button id="completion-btn">Completed</button> 
      <script>
               $(document).ready(function() {
          
           var videos = $('[id^="video"]');
           var countdownContainer = $('#countdown-container');
           var countdownSpan = $('#countdown-span');
           var completionBtn = $('#completion-btn');
         
          
           var currentIndex = 0;
           videos[currentIndex].play();
         
          
           videos.on("ended", function() {
           
             $(videos[currentIndex]).hide();
         
            
             currentIndex = (currentIndex + 1) % videos.length;
         
             if (currentIndex === 0) {
              
               completionBtn.show();
         
              
               countdownContainer.hide();
             } else {
            
               $(videos[currentIndex]).show();
         
         
               countdownContainer.show();
         
              
               var countdown = 5;
               countdownSpan.text(countdown);
         
               var countdownInterval = setInterval(function() {
                 countdown--;
                 countdownSpan.text(countdown);
         
                 if (countdown <= 0) {
                  
                   countdownContainer.hide();
         
              
                   videos[currentIndex].play();
         
                  
                   clearInterval(countdownInterval);
                 }
               }, 700);
             }
           });
         });
         </script>
      <div id="countdown"></div>
      <% end %>
   </div>
</body>
