<div id="<%= dom_id exercise %>">
  <p>
    <strong>Title:</strong>
    <%= exercise.title %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= exercise.video %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= exercise.day_id %>
  </p>

</div>
