<body class="exercisesPage">
   <%= link_to  "Back", child_challenge_days_path, class: "backLink" %>
   <div class="exercises">
      <% @exercises.each do |exercise | %>
      <%= video_tag("#{exercise.video}", controls: true, class: "video-style", id: "video#{exercise.id + 1}") %>  
      <div id="countdown-container">
         REST TIME <span id="countdown-span" style="font-size: 24px; font-weight: bold;">5</span>
      </div>
      <%# javascript countdown for video  %>
      <script src="countdown.js" async></script>

      <div id="countdown"></div>
      <% end %>
      <%= render partial: "progresses/form", locals: {progress: @progress} %>
   </div>
</body>
